<% content_for :title, "Edit Book" %>

<div class="text-center">
  <%= render 'form', book: @book %>
</div>

<div class="text-center">
  <%= link_to 'Show this book', @book %> |
  <%= link_to 'Back to books', books_path %>
</div>
